<div class="container-fluid text-center heading">
  <h1 class="mt-48 mx-auto text-3xl lg:text-6xl font-mono font-semibold">
    Resoluto<br />
    Your Own Personal Manager
  </h1>
  <p class="p mt-4 mb-4 mx-auto text-xl lg:text-2xl font-mono">
    Resoluto adalah aplikasi Tasklist Manager <br />
    Resoluto memudahkan anda untuk membuat list what to do, disertai pula dengan Motivasi harian <br />
    Dibuat untuk memenuhi Nilai Ujian Akhir  <br />
  </p>
  <a class="mt-4" routerLink="todolist">
    <button type="button" class="text-white text-md font-semibold font-mono bg-gradient-to-r from-slate-400 via-slate-500 to-slate-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-slate-300 dark:focus:ring-slate-800 shadow-lg shadow-slate-500/50 dark:shadow-lg dark:shadow-slate-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">TodoList</button>
  </a>
  <a class="mt-4" routerLink="motivation">
    <button type="button" class="text-white text-md font-semibold font-mono bg-gradient-to-r from-sky-400 via-sky-500 to-sky-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-sky-300 dark:focus:ring-sky-800 shadow-lg shadow-sky-500/50 dark:shadow-lg dark:shadow-sky-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">DailyMotivation</button>
  </a>
  <br>
  <br>
  <p class="p mt-16 mb-4 mx-auto text-sm lg:text-md font-mono font-light">
    Made By Jonathan Kevin <br/>
    20.K1.0009
  </p>
</div>
